.cabecalho{
background-color: rgb(129, 94, 209);
color: azure;
display: flex;
padding: 24px 0;
}
.section1 {
    background-color: rgb(86, 131, 216)
}
.section2 {
    background-color: rgb(139, 94, 245)
}