.cabecalho{
background-image: url(drinks.roxo.jpeg);
color: rgb(255, 252, 252);
display: flex;
padding: 50px;
background: no-repeat;
}
.section1 {
    background-color: cornflowerblue
    padding: 100px;
}
.section2 {
    background-color: darkorchid
    padding: 100px;
}