.cabecalho{
background-color: rgb(129, 94, 209);
color: azure;
display: flex;
padding: 24px 0;
}
.section1 {
    background-color: rgb(255, 172, 158)
}
.section2 {
    background-color: rgb(170, 230, 197)
}
.section3 {
    background-color: rgb(241, 124, 124)
}
.section4 {
    background-color: rgb(243, 235, 161)
}
.section5 {
    background-color: #fcc694
}
